@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel+Decorative&family=Kalam&display=swap');

:root {
	--accent: #faca0d;
	--bghover: rgba(250, 202, 13, .6);
	--bgcolor: #fff;
	--bgimg: url(../images/light.jpg);
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bgcolor);
}

body, .head h2, p {
	font-family: 'Caveat', cursive;
	font-size: 1.5rem;
}

::-webkit-scrollbar {
	width: 0;
}

.theme-changer {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	color: #fff;
	margin: .5rem 1rem;
	padding: .5rem;
	font-size: 2rem;
}

.theme-changer:hover {
	background-color: var(--bghover);
	border-radius: 1ch;
	cursor: pointer;
}

.ui.segment.head {
	min-height: 80vh;
	background-image: var(--bgimg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.head h1.ui.header {
	font-family: 'Cinzel Decorative', cursive;
	text-shadow:
		0 0 1px var(--accent), 0 0 4px var(--accent),
		0 0 9px var(--accent), 0 0 16px var(--accent),
		0 0 25px var(--accent), 0 0 36px var(--accent),
		0 0 49px var(--accent), 0 0 64px var(--accent),
		0 0 81px var(--accent), 0 0 100px var(--accent);
}

.head h2 {
	text-shadow: 0 0 8px var(--accent);
}

h1.ui.header {
	font-size: 3rem;
}

h3.ui.header, .member h1.ui.header, .gallery h1.ui.header {
	font-size: 2rem;
}

.ui.header, .content .header h3 {
	text-transform: uppercase;
	font-family: 'Kalam', cursive;
}

.member, .gallery {
	margin-top: 20vh;
}

.ui.footer {
	border-radius: 0;
}