@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel+Decorative&family=Kalam&display=swap');

html {
	scroll-behavior: smooth;
}

body, .head h2 {
	font-family: 'Caveat', cursive;
}

::-webkit-scrollbar {
	width: 0;
}

.head {
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 3px 5px rgba(255, 0, 0, 0.2)!important;
}

.head h1.ui.header {
	font-family: 'Cinzel Decorative', cursive;
}

.ui.header, .content .header h3 {
	text-transform: uppercase;
	font-family: 'Kalam', cursive;
}

.member, .gallery {
	margin-top: 20vh;
}